<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="./">P4LicensePortal.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu" aria-expanded="@(!collapseNavMenu)" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick:stopPropagation>
    <nav class="flex-column" role="navigation">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="./" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <span>Dashboard</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="licenses" Match="NavLinkMatch.Prefix">
                <span class="oi oi-badge" aria-hidden="true"></span> <span>Licenses</span>
            </NavLink>
        </div>
        <!-- Other NavLinks with similar changes -->
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}